{% extends 'common.twig' %}

{% block onecolumn %}

    <div align="center">
        <div class="title">Success!</div>
    </div>

    <p>You are excluded from the volunteers mailing list.</p>

{% endblock %}
