{% extends 'common.twig' %}

{% block onecolumn %}
<section class="default">
    <div class="container">
        <div class="titleWrap">
            <h1 class="title pb-0">Success!</h1>
        </div>

        <p>You are excluded from the volunteers mailing list.</p>
    </div>
</section>
{% endblock %}
