{% extends 'common.twig' %}

{% block onecolumn %}

    <div align="center">
        <div class="title">Volunteer Details</div>
        <br><br>
    </div>

    <table width="90%" align="center" border="1" bordercolor="#376FA6">
        <tbody>
            <tr>
                <td valign="top" width="30%">
                    <table><tbody>
                        <tr valign="top">
                            <td colspan="2">
                                <font color="#376FA6" face="Verdana" size="2"><b>Volunteer nickname:</b></font><b> <font color="#BC0000" face="Verdana" size="2"></font></b>
                            </td>
                        </tr>

                        <tr><td><font color="#376FA6" face="Verdana" size="2">Country: </font></td></tr>

                        <tr><td><font color="#376FA6" face="Verdana" size="2">Age : 2019</font></td></tr>
                        <tr><td><font color="#376FA6" face="Verdana" size="2">International driving license:  - </font></td></tr></tbody></table>
                    <br>
                    <table><tbody><tr><td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Languages spoken</b></font></td></tr>
                        <tr><td><font color="#376FA6" face="Verdana" size="2">
                                </font></td></tr></tbody></table>

                    <br>
                    <table><tbody><tr><td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b><br>Work Preferences</b></font></td></tr>

                        <tr><td><font color="#376FA6" face="Verdana" size="2">Preferred destinations:<br>

                                </font></td></tr></tbody></table>
                </td>

                <td valign="top" width="30%">
                    <table><tbody><tr><td><font color="#376FA6" face="Verdana" size="2"><b>Disciplines of experience</b></font></td></tr>
                        <tr><td><font color="#376FA6" face="Verdana" size="2">

                                </font></td></tr></tbody></table>
                    <br>
                    <table><tbody><tr><td colspan="2"><font color="#376FA6" face="Verdana" size="2"><br><b>O-Experience</b></font></td></tr>
                        </tbody></table>
                    <br>

                    <table><tbody>                    <tr>

                        </tr></tbody></table>
                </td>
                <td valign="top" width="35%">
                    <br><br><br><br><table><tbody><tr><td><font color="#376FA6" face="Verdana" size="2"><b>O-Skills</b></font></td></tr>

                        <tr><td><font color="#376FA6" face="Verdana" size="2">
                                    <br> I have held many seminars		</font></td></tr>
                        <tr><td><font color="#376FA6" face="Verdana" size="2"><br>
                                    <b>How can this Volunteer help you? </b>
                                    <br> I am an experienced Event Organiser		</font></td></tr>
                        <tr><td><font color="#376FA6" face="Verdana" size="2"><br>
                                    <b>Expectations as a Volunteer </b>
                                    <br> Accommodation
                                </font></td></tr>
                        </tbody></table>

                </td>
            </tr>

        </tbody>
    </table>

    <div align="center">
        <input type="button" style="margin-top: 15px;" onclick="location.href='{{ url }}volunteer/contact/{{ id }}';" value="Contact volunteer" />
    </div>

{% endblock %}
