{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
    <section class="default">
        <div class="container">
            <div class="titleWrap">
                <h1 class="title pb-0">{{ result }}</h1>
            </div>

            <p><a href="{{ url }}">Return to main page</a></p>

        </div>
    </section>
{% endblock %}
