{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
<section class="default">
    <div class="container">
        <div class="titleWrap">
            <h1 class="title pb-0">404</h1>
        </div>
        <p>Sorry, page not found</p>
        <p><a href="{{ referer }}">Return back</a></p>

    </div>
</section>
{% endblock %}
