{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
<td valign="top" id="main">

    <div style="width: 50%; margin: 0 auto;">

        <h1>404</h1>
        <h2>Sorry, page not found</h2>
        <p><a href="{{ referer }}">Return back</a></p>

    </div>

</td>
{% endblock %}
