<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IOF Global Orienteering Volunteer Platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body class="bodystyle" link="#376FA6" vlink="#376FA6">

    <p align="center">

        <img border="0" src="images/pg_template1.jpg" />

        <table align="center" border="0" cellpadding="0" cellspacing="10" width="75%">
            <tr>
                <td width="30%" align="center" valign="top" id="sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </td>
                <td valign="top" id="main">
                    <!-- if welcome_message then display welcome 
                    <table>
                        <tr><td align="center" bgcolor="#E7FCFE" width="45%">
                        <font size="3" face="Verdana"><b>{% welcome_message %}</b>
                        </td></tr>
                    </table>
                    -->
                    {% block main %}
                    {% endblock %}
                </td>
            </tr>
        </table>

</body>

</html>
