<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>IOF Global Orienteering Volunteer Platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body class="bodystyle" link="#376FA6" vlink="#376FA6">

    <p align="center">

        <a href="/"><img border="0" src="images/pg_template1.jpg" /></a>

        {% block onecolumn %}
        {% endblock %}

        <table align="center" border="0" cellpadding="0" cellspacing="10" width="75%">
            <tr>

                {% block sidebar %}
                {% endblock %}

                {% block main %}
                {% endblock %}

            </tr>
        </table>

</body>

</html>
