{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
<td valign="top" id="main">

    <div style="margin-left: 10%; margin-top: 20px;">

        <p>
        {{ message|raw }}
        </p>

        <p><a href="javascript:history.back()">Return back</a></p>

    </div>

</td>
{% endblock %}
