{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
<section class="default">
    <div class="container">

        <p>
        {{ message|raw }}
        </p>

        <p><a href="javascript:history.back(1)">Return back</a></p>

    </div>
</section>
{% endblock %}
