{% extends 'common.twig' %}

{% block onecolumn %}

<form method="POST" action="regVolunteer" enctype="multipart/form-data">

    <p align="center">
        <b><font face="Verdana" color="#376FA6" size="3">Volunteer Registration Form</font></b>
        <br>
        <font color="#B30000" face="Verdana" size="2">Please note that you must be 18+ to register as a
            volunteer!</font>
    </p>

    <table width="90%" align="center">
        <tbody>
        <tr>
            <td valign="top" width="25%">
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Contact Information</b></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Name</font></td>
                        <td><font face="Verdana" size="2">: <input type="text" name="name" size="15" value=""></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Country</font></td>
                        <td><font face="Verdana" size="2">: <input type="text" name="country" size="15" value=""></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">E-mail</font></td>
                        <td><font face="Verdana" size="2">: <input type="text" name="email" size="15" value=""></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Phone </font><font color="#B30000"
                                                                                             face="Verdana" size="1">(optional)</font>
                        </td>
                        <td>: <input type="text" name="phone" value="" size="15"></td>
                    </tr>

                    <tr>
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b><br>Personal
                                    Information</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Gender </font></td>
                        <td>: <select size="1" name="gender">
                                <option selected="" value="">--- select ---</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Year of birth </font><font color="#B30000"
                                                                                                     face="Verdana"
                                                                                                     size="1">
                                required</font></td>
                        <td>: <input type="text" name="birth" size="4" value="yyyy"></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Nickname </font><font color="#B30000"
                                                                                                face="Verdana" size="1">optional</font>
                        </td>
                        <td>: <input type="text" name="nickname" size="15" value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2"><font color="#B30000" face="Verdana" size="1">if left blank, your first name
                                will be assumed as your nickname</font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">International driving license? </font></td>
                        <td>: <select size="1" name="license">
                                <option selected="" value="">--- select ---</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Disciplines of
                                    experience</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">

                                <input type="checkbox" name="dis[]" value="F"> Foot-O &nbsp; &nbsp; &nbsp; &nbsp;</font>
                        </td>
                        <td><font color="#376FA6" face="Verdana" size="2">
                                <input type="checkbox" name="dis[]" value="M"> MTBO </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">
                                <input type="checkbox" name="dis[]" value="S"> Ski-O &nbsp; &nbsp; &nbsp; &nbsp;</font>
                        </td>
                        <td><font color="#376FA6" face="Verdana" size="2">
                                <input type="checkbox" name="dis[]" value="T"> Trail-O

                            </font></td>
                    </tr>
                    </tbody>
                </table>

                <br>
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>O-Experience</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Year you started orienteering</font></td>
                        <td>: <font color="#376FA6" face="Verdana" size="2"><input type="text" name="start" size="4"
                                                                                   value="yyyy"> <font color="#B30000"
                                                                                                       face="Verdana"
                                                                                                       size="1">(required)
                                </font></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Your present club (if any) </font></td>
                        <td>: <font color="#376FA6" face="Verdana" size="2"><input type="text" name="club" size="20">
                            </font></td>
                    </tr>
                    <tr>
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><u>Experience as Competitor</u>
                            </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Local events </font></td>
                        <td><font color="#376FA6" face="Verdana" size="2">: <select size="1" name="loc">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="0">none</option>
                                    <option value="1">1 - 50</option>
                                    <option value="2">51 - 100</option>
                                    <option value="3">over 100</option>
                                </select></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">National Championships </font></td>
                        <td><font color="#376FA6" face="Verdana" size="2">: <select size="1" name="nchamp">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="0">none</option>
                                    <option value="1">1 - 50</option>
                                    <option value="2">51 - 100</option>
                                    <option value="3">over 100</option>
                                </select></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">International Competitions </font></td>
                        <td><font color="#376FA6" face="Verdana" size="2">: <select size="1" name="icomp">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="0">none</option>
                                    <option value="1">1 - 20</option>
                                    <option value="2">21 - 50</option>
                                    <option value="3">over 50</option>
                                </select></font></td>
                    </tr>

                    </tbody>
                </table>
            </td>

            <td valign="top" width="27%">
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Languages
                                    spoken</b></font><font color="#B30000" face="Verdana" size="1"> (required, even if
                                only listed in "other")</font></td>
                    </tr>
                    <tr>

                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="E"> English </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="elevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="elevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="elevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="F"> French </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="flevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="flevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="flevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="S"> Spanish </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="slevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="slevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="slevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="G"> German </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="glevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="glevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="glevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="I"> Italian </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="ilevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="ilevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="ilevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="P"> Portuguese </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="plevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="plevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="plevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="lang[]"
                                                                                 value="W"> "Scandinavian" </font></td>
                        <td><font color="#376FA6" face="Verdana" size="1"><input type="radio" name="wlevel" value="1">
                                Excellent &nbsp; &nbsp;<input type="radio" name="wlevel" value="2"> OK &nbsp;
                                &nbsp;<input type="radio" name="wlevel" value="3"> Poor </font></td>
                    </tr>
                    <tr>
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2">Other languages? <br>State each
                                language and level, separated by commas below...<br> <input type="text" name="olangs"
                                                                                            value="" size="30">
                            </font></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                &nbsp; &nbsp; &nbsp; &nbsp;<table>
                    <tbody>
                    <tr valign="top">
                        <td><font color="#376FA6" face="Verdana" size="2"><b>Where to work?</b></font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><font color="#376FA6" face="Verdana" size="2"><b>Timing</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="1">Do you have a preferred destination? <br>If
                                not, just tick "Anywhere"</font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><font color="#376FA6" face="Verdana" size="2">When can you start? </font></td>
                    </tr>

                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="A"> Anywhere </font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="text" size="10" name="sdate"
                                                                                 id="sdate"
                                                                                 class="hasDatepicker"></font></td>
                    </tr>

                    <tr>
                        <td><br> <font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                      value="N"> North America </font>
                        </td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="S"> South America </font></td>
                        <td></td>
                        <td><font color="#376FA6" face="Verdana" size="2">For how long can you work? </font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="E"> Europe </font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td><input type="text" size="3" name="duration" id="duration" value=""><font color="#376FA6"
                                                                                                     face="Verdana"
                                                                                                     size="2">
                                months</font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="I"> Asia </font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="F"> Africa </font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2"><input type="checkbox" name="continent[]"
                                                                                 value="O"> Oceania </font></td>
                        <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>

            </td>
            <td valign="top" width="31%">

                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Skills</b></font><font
                                    color="#B30000" face="Verdana" size="1"> &nbsp;(Please tick all relevant to you.
                                Details are <b>required</b> if skill is ticked)</font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">* Mapping <br><font color="#B30000"
                                                                                              face="Verdana" size="1">Notice
                                    that you will be required to upload map samples! </font><br><font color="#376FA6"
                                                                                                      face="Verdana"
                                                                                                      size="1"><input
                                            type="checkbox" name="sprint" value="1"> Sprint <br><input type="checkbox"
                                                                                                       name="forest"
                                                                                                       value="1"> Forest
                                    <br><input type="checkbox" name="mtbo" value="1"> MTBO</font></font></td>
                        <td><font color="#376FA6" face="Verdana" size="1">Brief outline of your experience as a mapper
                                <br>
                                <textarea rows="2" cols="30" name="mapper" id="mapper" value=""></textarea></font></td>
                    </tr>
                    <tr>
                        <td>
                            <font color="#376FA6" face="Verdana" size="2">* Coaching<br><font color="#376FA6"
                                                                                              face="Verdana"
                                                                                              size="1"><input
                                            type="checkbox" name="nteam" value="1"> National Team<br><input
                                            type="checkbox" name="clubs" value="1"> Clubs </font></font></td>
                        <td><font color="#376FA6" face="Verdana" size="1">Brief outline of your experience in coaching
                                <br>
                                <textarea rows="2" cols="30" name="coach" id="coach" value=""></textarea> </font></td>
                    </tr>
                    <tr>
                        <td>
                            <font color="#376FA6" face="Verdana" size="2">* IT &amp; time-keeping <br><font
                                        color="#376FA6" face="Verdana" size="1"><input type="checkbox" name="si"
                                                                                       value="1"> SportIdent &nbsp;
                                    &nbsp;<input type="checkbox" name="emit" value="1"> Emit <br><input type="checkbox"
                                                                                                        name="othertime"
                                                                                                        value="1"> Other
                                    Timekeeping <br><input type="checkbox" name="gps" value="1"> GPS
                                    Tracking</font></font></td>
                        <td><font color="#376FA6" face="Verdana" size="1">Brief details of your IT skills &amp;
                                experience <br>
                                <textarea rows="2" cols="30" name="itex" id="itex" value=""></textarea> </font></td>
                    </tr>
                    <tr>
                        <td>
                            <font color="#376FA6" face="Verdana" size="2">* Event Organising <br><font color="#376FA6"
                                                                                                       face="Verdana"
                                                                                                       size="1"><input
                                            type="checkbox" name="clubev" value="1"> Club &nbsp; &nbsp;<input
                                            type="checkbox" name="localev" value="1"> Local &nbsp; &nbsp;<br><input
                                            type="checkbox" name="natev" value="1"> National &nbsp; &nbsp;<input
                                            type="checkbox" name="hlev" value="1"> High-Level </font></font></td>
                        <td><font color="#376FA6" face="Verdana" size="1">Brief outline of your experience as organiser
                                <br>
                                <textarea rows="2" cols="30" name="evorg" id="evorg" value=""></textarea></font></td>
                    </tr>
                    <tr>
                        <td>
                            <font color="#376FA6" face="Verdana" size="2">* Teaching experience

                                <br><font color="#376FA6" face="Verdana" size="1"><input type="checkbox" name="teach[]"
                                                                                         value="C"> Beginners &amp;
                                    children <br><input type="checkbox" name="teach[]" value="M"> Teach how to map
                                    <br><input type="checkbox" name="teach[]" value="O"> Teach coaching <br><input
                                            type="checkbox" name="teach[]" value="I"> Teach IT &amp; Timekeeping
                                    <br><input type="checkbox" name="teach[]" value="E"> Teach Event Organising

                                </font></font></td>
                        <td><font color="#376FA6" face="Verdana" size="1">Brief outline of your experience in teaching
                                <textarea rows="2" cols="30" name="teachex" id="teachex" value=""></textarea></font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font color="#376FA6" face="Verdana" size="2">* Other skills? Please explain... </font></td>
                        <td><textarea rows="2" cols="30" name="oskills" id="oskills" value=""></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>O-Work Experience</b></font>
                        </td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">Local / National Events
                                <select size="1" name="natc">
                                    <option selected="" value="">- select -</option>
                                    <option value="0">none</option>
                                    <option value="1">1 - 10</option>
                                    <option value="2">11 - 30</option>
                                    <option value="3">over 30</option>
                                </select><br>
                                <br>Duties:<br></font><font color="#376FA6" face="Verdana" size="1">

                                <input type="checkbox" name="dut[]" value="NE"> Event Director <br>
                                <input type="checkbox" name="dut[]" value="NM"> Mapper / Course Planner <br>
                                <input type="checkbox" name="dut[]" value="NT"> IT Director <br>
                                <input type="checkbox" name="dut[]" value="NA"> Event Advisor <br>
                                <input type="checkbox" name="dut[]" value="NJ"> Jury Member <br>
                                Other duties? State below...<br> <input type="text" name="onduts" value="" size="20">
                            </font>
                        </td>
                        <td><font color="#376FA6" face="Verdana" size="2">International Events &nbsp;
                                <select size="1" name="intc">
                                    <option selected="" value="">- select -</option>
                                    <option value="0">none</option>
                                    <option value="1">1 - 10</option>
                                    <option value="2">11 - 20</option>
                                    <option value="3">over 20</option>
                                </select><br>
                                <br>Duties:<br></font><font color="#376FA6" face="Verdana" size="1">

                                <input type="checkbox" name="idut[]" value="IE"> Event Director <br>
                                <input type="checkbox" name="idut[]" value="IM"> Mapper / Course Planner <br>
                                <input type="checkbox" name="idut[]" value="IT"> IT Director <br>
                                <input type="checkbox" name="idut[]" value="IA"> Event Advisor <br>
                                <input type="checkbox" name="idut[]" value="IJ"> Jury Member <br>
                                Other duties? State below...<br> <input type="text" name="oiduts" value="" size="20">

                            </font></td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td valign="top" width="17%">
                <table>
                    <tbody>
                    <tr valign="top">
                        <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Additional
                                    Information</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="#376FA6" face="Verdana" size="2">
                                Skilled in mapping? <br>Upload your "best" maps here...<br><font color="#B30000"
                                                                                                 face="Verdana"
                                                                                                 size="1">Required for
                                    mappers!</font><br>(At most 3 maps in PDF format)<br><br>
                                <input name="image1" type="file"><br><br>
                                <input name="image2" type="file"><br><br>
                                <input name="image3" type="file"><br><br>

                                Explain how you can help as a volunteer <br><font color="#B30000" face="Verdana"
                                                                                  size="1">(required) <br></font>
                                <textarea rows="4" cols="30" name="help" id="help" value=""></textarea><br><br>
                                Expectations as a volunteer <br>
                                <textarea rows="4" cols="30" name="expect" id="expect" value=""></textarea><br><br>
                                Experience abroad? When? Where? What?<br>
                                <textarea rows="4" cols="30" name="exper" id="exper" value=""></textarea><br><br>
                                Seminars, Training Camps attended...<br>
                                <textarea rows="4" cols="30" name="training" id="training" value=""></textarea><br><br>

                            </font></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><font color="#376FA6" face="Verdana" size="2"><b>Disclaimer:</b> I have filled in my details
                    above as accurately as possible. By submitting this form, I state that I am a volunteer in
                    developing orienteering. I understand that the IOF cannot be held responsible for my being or not
                    being recruited as a volunteer. I also understand that should I choose to accept any offer
                    requesting my assistance, the IOF cannot be held responsible for the terms under which I will work
                    as a volunteer.
                    <br><br><input type="checkbox" name="ok"> I have read and understood the above.</font> <font
                        color="#B30000" face="Verdana" size="1"> Please tick the disclaimer...</font></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" align="right"><input type="submit" name="newvol" value="Submit my details">

            </td>
        </tr>
        </tbody>
    </table>
</form>

{% endblock %}
