<div id="buttonsBlock">
    <a href="new_user.php"><img src="images\button1new.jpg" id="imagen" border="0" onMouseOver="but2n();" onMouseOut="but1n();"></a>
    <a href="sign_in.php"><img src="images\button1signin.jpg" id="images" border="0" onMouseOver="but2s();" onMouseOut="but1s();"></a>
</div>

<div id="registerBlock" style="display:none">
    <form method="POST" action="new_user.php">
        <table width="300" bordercolor="#376FA6">
            <tr><td colspan="2"><p align="center"><font face="Verdana" color="#FF0000" size="1">All fields are required!</p></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Name</font><font face="Verdana" color="#FF0000" size="1">*</font></td><td>: <input type="text" name="name" size="20"></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Country</font><font face="Verdana" color="#FF0000" size="1">*</font></td><td>: <input type="text" name="country" size="20"></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">E-mail</font><font face="Verdana" color="#FF0000" size="1">*</font></td><td>: <input type="text" name="email" size="20"></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Username</font><font face="Verdana" color="#FF0000" size="1">*</font></td><td>: <input type="text" name="uname" size="20"></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Password</font><font face="Verdana" color="#FF0000" size="1">*</font></td><td>: <input type="password" name="pword" size="20"></td></tr>
            <tr><td colspan="2"><p align="center"><input type="submit"></p></td></tr>
        </table>
    </form>

    <p align="center">
        <font face="Verdana" size="2">
            <b> If you are aleady registered, sign in here! </b>
        </font>
        <br>
        <a href="sign_in.php"><img src="images/button1signin.jpg" id="images" border="0" onMouseOver="but2s();" onMouseOut="but1s();"></a>
    </p>
</div>

<div id="signInBlock" style="display:none">
    <form method="POST" action="sign_in.php">
        <table width="300" bordercolor="#376FA6">
            <tr><td colspan="2"><p align="center"><font face="Verdana" color="#376FA6" size="1">You may sign in using your e-mail or username and password...</font></p></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">E-mail</font></td><td>: <input type="text" name="email" size="20"> OR </td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Username</font></td><td>: <input type="text" name="uname" size="20"></td></tr>
            <tr><td><font face="Verdana" color="#376FA6" size="2">Password</font></td><td>: <input type="password" name="pword" size="20"></td></tr>
            <tr><td colspan="2"><p align="center"><input type="submit" value="Sign in!" name="signin"></p></td></tr>
        </table>
    </form>

    <p align="center">
        <font face="Verdana" size="2">
            <b> If you are a new user, register first! </b>
        </font>
        <br>
        <a href="new_user.php"><img src="images/button1new.jpg" id="imagen" border="0" onMouseOver="but2n();" onMouseOut="but1n();"></a>
    </p>
</div>

<script language="javascript" type="text/javascript">

    function but1n() {
        document.getElementById("imagen").src = "images\\button1new.jpg";
    }

    function but2n() {
        document.getElementById("imagen").src = "images\\button2new.jpg";
    }

    function but1s() {
        document.getElementById("images").src = "images\\button1signin.jpg";
    }

    function but2s() {
        document.getElementById("images").src = "images\\button2signin.jpg";
    }

</script>
