{% extends 'common.twig' %}

{% block onecolumn %}

    <p align="center" class="title">Host Registration Form</p>

    <form method="POST" action="{{ url }}host/register" enctype="multipart/form-data">
        <input type="hidden" name="id" value="">

        <table width="90%" align="center">
            <tbody>
            <tr>
                <td valign="top" width="30%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="big-desc">
                                Host details <span class="warn">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Country</td>
                            <td class="value">:
                                <select type="text" name="country" id="country" size="1" value="" style="width:130px;" required>{{ countries | raw }}</select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr>
                            <td class="desc">Max hosting duration</td>
                            <td class="desc">
                                <input type="text" size="3" name="maxDuration" id="maxDuration" value="">
                                weeks
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <table>
                        <tbody>
                        <tr>
                            <td class="desc">Host description</td>
                        </tr>
                        <tr>
                            <td>
                                <textarea rows="2" cols="30" name="hostDesc" id="hostDesc" value=""></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Guest expectations</td>
                            <span class="warn"> You may specify the characteristics of a potential guest here</span>
                        </tr>
                        <tr>
                            <td>
                                <textarea rows="2" cols="30" name="guestExpectations" id="guestExpectations" value=""></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <table>
                        <tbody>
                        <tr>
                            <td colspan="2" class="big-desc">Contacts</td>
                        </tr>
                        <tr><td class="desc">Phone:</td><td><input type="text" name="contacts[phone]"></input></td></tr>
                        <tr><td class="desc">Email:</td><td><input type="text" name="contacts[email]"></input></td></tr>
                        <tr><td class="desc">Skype:</td><td><input type="text" name="contacts[skype]"></input></td></tr>
                        <tr><td class="desc">Telegram:</td><td><input type="text" name="contacts[telegram]"></input></td></tr>
                        <tr><td class="desc">Other:</td><td><input type="text" name="contacts[other]"></input></td></tr>
                        </tbody>
                    </table>

                </td>
                <td valign="top" width="30%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Languages spoken</b>
                                <div class="warn"> (required, even if only listed in "other")</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[English][known]" value="1">English</td>
                            <td class="smradio">
                                <input type="radio" name="languages[English][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[English][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[English][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[French][known]" value="1">French</td>
                            <td class="smradio">
                                <input type="radio" name="languages[French][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[French][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[French][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Spanish][known]" value="1">Spanish</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Spanish][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Spanish][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Spanish][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[German][known]" value="1">German</td>
                            <td class="smradio">
                                <input type="radio" name="languages[German][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[German][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[German][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Italian][known]" value="1">Italian</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Italian][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Italian][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Italian][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Portuguese][known]" value="1">Portuguese</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Portuguese][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Portuguese][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Portuguese][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Scandinavian][known]" value="1">"Scandinavian"</td>
                            <td class="smradio">
                                <input type="radio" name="languages[Scandinavian][level]" value="Excellent">Excellent &nbsp; &nbsp;
                                <input type="radio" name="languages[Scandinavian][level]" value="OK">OK &nbsp;&nbsp;
                                <input type="radio" name="languages[Scandinavian][level]" value="Poor">Poor
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="desc">
                                Other languages?<br>
                                State each language and level, separated by commas below...<br>
                                <input type="text" name="languages[Other]" value="" size="30">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" width="31%">
                    <table>
                        <tbody>
                        <tr>
                            <td class="big-desc">What can you offer?
                                <span class="warn">*</span>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="offer[food]" value="1">Food
                                <input type="text" name="offer[food_price]" value="free"><br>
                                <input type="checkbox" name="offer[accomodation]" value="1">Accomodation
                                <input type="text" name="offer[accomodation_price]" value="free"><br>
                                <input type="checkbox" name="offer[local_tourism]" value="1">Local tourism and sightseeng<br>
                                <input type="checkbox" name="offer[o-training]" value="1">O-traning<br>
                                <input type="checkbox" name="offer[events]" value="1">Events / competitions<br>
                                Distance to public transport: <input type="text" name="offer[distance_to_public_transport]" value="1 mile"><br>
                                <input type="checkbox" name="offer[loan_bike]" value="1">Loan a bike<br>
                                <input type="checkbox" name="offer[loan_car]" value="1">Loan a car<br>

                                Other (please state): <input type="text" name="offer[other]" size="20"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="desc">
                        <b>Disclaimer:</b> The details above are as accurate as possible. We understand that
                        the
                        IOF cannot be held responsible for our finding or not finding a suitable volunteer. We also
                        understand that should we choose to recruit a volunteer through this database, the IOF cannot be
                        held responsible for the terms or quality of work produced.
                        <br><br>
                        <input type="checkbox" name="iAgreeWithTerms"> I have read and understood the above.
                        <span class="warn">*</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="submit" value="Submit our request">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            {% if data %}
            var data = JSON.parse('{{ data | raw }}');

            // reset form values from json object
            $.each(data, function (name, val) {

                var $el = $('[name="' + name + '"]'), type = $el.attr('type');

                switch (type) {
                    case 'checkbox':
                        $el.attr('checked', 'checked');
                        break;
                    case 'radio':
                        $el.filter('[value="' + val + '"]').attr('checked', 'checked');
                        break;
                    default:
                        $el.val(val);
                }
            });
            {% endif %}

        });

    </script>

{% endblock %}
