{% extends 'common.twig' %}

{% block onecolumn %}

    <form method="POST" action="{{ url }}host/search" enctype="multipart/form-data">

        <div align="center">
            <div class="title">Host Search Form</div>
            <br>
            <div class="warn-title">
                Please fill in your search criteria. Leave blank if not relevant / important!
            </div>
        </div>

        <table width="90%" align="center">
            <tbody>
            <tr>
                <td valign="top" width="25%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Personal Information</b></td>
                        </tr>
                        <tr>
                            <td class="desc">Country</td>
                            <td class="value">:
                                <select type="text" name="country" id="country" size="1" value="" style="width:130px;" required></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Hosting duration
                                <input type="text" size="7" name="maxDuration" value=""> weeks
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </td>

                <td valign="top" width="27%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2">
                                <div class="desc">
                                    <b>Languages available</b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[English][known]" value="1"> English </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[French][known]" value="1"> French </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Spanish][known]" value="1"> Spanish </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[German][known]" value="1"> German </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Italian][known]" value="1"> Italian </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Portuguese][known]" value="1"> Portuguese </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="languages[Scandinavian][known]" value="1"> "Scandinavian"</td>
                        </tr>
                        <tr>
                            <td class="desc">Other: <input type="text" name="languages[Other]" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="submit" value="Find host">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            // load countries list
            $.ajax({
                type: "GET",
                url: '{{ url }}countries',
                success: function(data)
                {
                    $('#country').empty().append(data);
                }
            });

        });

    </script>

{% endblock %}
