{% extends 'common.twig' %}

{% block onecolumn %}

    <p align="center" class="title">Volunteer Request Form</p>

    <form method="POST" action="{{ url }}project/register" enctype="multipart/form-data">
        <input type="hidden" name="id" value="">

        <table width="90%" align="center">
            <tbody>
            <tr>
                <td valign="top" width="30%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Details of the Organisation</b>
                                <span class="warn">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Name of the organisation</td>
                            <td class="desc">: <input type="text" name="name" size="20"></td>
                        </tr>
                        <tr>
                            <td class="desc">Status</td>
                            <td class="desc">: <select size="1" name="status">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="Federation">Federation</option>
                                    <option value="Club">Club</option>
                                    <option value="Informal Group">Informal Group</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Web page (if exists)</td>
                            <td class="desc">: <input type="text" name="webpage" size="20"></td>
                        </tr>
                        <tr>
                            <td class="desc">Region</td>
                            <td class="desc">: <select size="1" name="region">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="North America"> North America</option>
                                    <option value="South America"> South America</option>
                                    <option value="Europe"> Europe</option>
                                    <option value="Asia"> Asia</option>
                                    <option value="Africa"> Africa</option>
                                    <option value="Oceania"> Oceania</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Contact person</td>
                            <td class="desc">: <input type="text" name="contact" size="20" value=""></td>
                        </tr>
                        <tr>
                            <td class="desc">Position in the organisation</td>
                            <td class="desc">: <input type="text" name="position" size="20"></td>
                        </tr>
                        <tr>
                            <td class="desc">Country</td>
                            <td class="desc">: <select type="text" name="country" id="country" size="1" value=""></select></td>
                        </tr>
                        <tr>
                            <td class="desc">E-mail</td>
                            <td class="desc">: <input type="text" name="email" size="20" value=""></td>
                        </tr>
                        <tr>
                            <td class="desc">Phone</td>
                            <td class="desc">: <input type="text" name="phone" size="10"></td>
                        </tr>
                        <tr>
                            <td class="desc">Native language(s)</td>
                            <td class="desc">: <input type="text" name="language" size="20">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Details of the Project</b></td>
                        </tr>
                        <tr>
                            <td class="desc">Where will the volunteer be working?
                                <span class="warn">*</span>
                                <br>
                                <div class="desc"><input type="text" name="place" size="30"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">When is the volunteer expected to start?
                                <br>
                                <input type="text" name="startDate" size="10" class="datepicker"></td>
                        </tr>
                        <tr>
                            <td class="desc">What can you offer the volunteer?
                                <span class="warn">*</span>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="offer[international_travel_expenses]" value="1">International travel expenses<br>
                                <input type="checkbox" name="offer[domestic_travel_expenses]" value="1">Domestic travel expenses<br>
                                <input type="checkbox" name="offer[accommodation]" value="1">Accommodation <br>
                                <input type="checkbox" name="offer[meals]" value="1">Meals <br>
                                <input type="checkbox" name="offer[pocket_money]" value="1">Pocket money <br>
                                Other (please state): <input type="text" name="offer[other]" size="20"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Discipline of Project </b>
                                <span class="warn">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="footO" value="1"> Foot-O &nbsp; &nbsp; &nbsp;
                                &nbsp;
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="mtbO" value="1"> MTBO
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="skiO" value="1"> Ski-O &nbsp; &nbsp; &nbsp;
                                &nbsp;
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="trailO" value="1"> Trail-O
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>
                </td>
                <td valign="top" width="30%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Skills required</b>
                                <div class="warn"> &nbsp;(Please tick all relevant to the project)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">* Mapping <br>
                                <div class="smradio">
                                    <input type="checkbox" name="mappingDesc[Sprint]" value="1"> Sprint<br>
                                    <input type="checkbox" name="mappingDesc[Forest]" value="1"> Forest
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* Coaching<br>
                                    <div class="smradio">
                                        <input type="checkbox" name="coachDesc[nationalTeam]" value="1"> National Team<br>
                                        <input type="checkbox" name="coachDesc[clubs]" value="1"> Clubs
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* IT &amp; time-keeping <br>
                                    <div class="smradio">
                                        <input type="checkbox" name="itDesc[si]" value="1"> SportIdent <br>
                                        <input type="checkbox" name="itDesc[emit]" value="1"> Emit <br>
                                        <input type="checkbox" name="itDesc[gps]" value="1"> GPS Tracking
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* Event Organising <br>
                                    <div class="smradio">
                                        <input type="checkbox" name="eventDesc[club]" value="1"> Club &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[local]" value="1"> Local &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[national]" value="1"> National &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[highLevel]" value="1"> High-Level
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>
                                    <input type="checkbox" name="teacherDesc[materials]" value="1"> Development of Educational Material
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc">
                                    <input type="checkbox" name="teacherDesc[beginners]" value="1"> Beginners &amp; children
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="big-desc">Experience required
                                <div class="warn"> &nbsp;(Select if relevant to the project)</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Local / National Events
                                <select size="1" name="oworkLocalExp[experience]">
                                    <option selected="" value="">- select -</option>
                                    <option value="none">none</option>
                                    <option value="1 - 10">1 - 10</option>
                                    <option value="11 - 30">11 - 30</option>
                                    <option value="over 30">over 30</option>
                                </select><br>
                                <br>Duties:<br>
                                <div class="smradio">
                                    <input type="checkbox" name="oworkLocalExp[director]" value="1"> Event Director <br>
                                    <input type="checkbox" name="oworkLocalExp[mapper]" value="1"> Mapper / Course Planner <br>
                                    <input type="checkbox" name="oworkLocalExp[it]" value="1"> IT Director <br>
                                    <input type="checkbox" name="oworkLocalExp[advisor]" value="1"> Event Advisor <br>
                                    <input type="checkbox" name="oworkLocalExp[jury]" value="1"> Jury Member <br>
                                    Other duties? State below...<br>
                                    <input type="text" name="oworkLocalExp[other]" value="" size="20">
                                </div>
                            </td>
                            <td class="desc">International Events &nbsp;
                                <select size="1" name="oworkInternationalExp[experience]">
                                    <option selected="" value="">- select -</option>
                                    <option value="none">none</option>
                                    <option value="1 - 10">1 - 10</option>
                                    <option value="11 - 20">11 - 20</option>
                                    <option value="over 20">over 20</option>
                                </select><br>
                                <br>Duties:<br>
                                <div class="smradio">
                                    <input type="checkbox" name="oworkInternationalExp[director]" value="1"> Event Director <br>
                                    <input type="checkbox" name="oworkInternationalExp[mapper]" value="1"> Mapper / Course Planner <br>
                                    <input type="checkbox" name="oworkInternationalExp[it]" value="1"> IT Director <br>
                                    <input type="checkbox" name="oworkInternationalExp[advisor]" value="1"> Event Advisor <br>
                                    <input type="checkbox" name="oworkInternationalExp[jury]" value="1"> Jury Member <br>
                                    Other duties? State below...<br>
                                    <input type="text" name="oworkInternationalExp[info]" value="" size="20">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr>
                            <td class="desc">Details of the work to be done
                                <span class="warn">*</span>
                                <br>
                                <textarea rows="4" cols="50" name="details" id="details"></textarea><br><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" width="31%">
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Personal details of Volunteer</b><br>
                                <div class="warn"> &nbsp;(Just skip if not important)</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Gender</td>
                            <td>: <select size="1" name="gender">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Age</td>
                            <td>: <select size="1" name="age">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="Under 25">Under 25</option>
                                    <option value="25 - 35">25 - 35</option>
                                    <option value="36 - 50">36 - 50</option>
                                    <option value="Over 50">Over 50</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">International driving license?</td>
                            <td>: <select size="1" name="license">
                                    <option selected="" value="">--- select ---</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">Language expectations</td>
                            <td class="desc">: <input type="text" name="expectedLanguage" size="20"></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="big-desc">Disciplines of experience</td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="expectedDisciplines[footO]" value="1"> Foot-O
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="expectedDisciplines[mtbO]" value="1"> MTBO
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="expectedDisciplines[skiO]" value="1"> Ski-O
                            </td>
                            <td class="desc">
                                <input type="checkbox" name="expectedDisciplines[trailO]" value="1"> Trail-O
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br>
                    <table>
                        <tbody>
                        <tr valign="top">
                            <td colspan="2" class="big-desc">O-Experience</td>
                        </tr>
                        <tr>
                            <td class="desc">Years of experience</td>
                            <td>:
                                <div class="desc"><select size="1" name="expirience[years]">
                                        <option selected="" value="">--- select ---</option>
                                        <option value="Under 5">Under 5</option>
                                        <option value="5 - 9">5 - 9</option>
                                        <option value="10 - 20">10 - 20</option>
                                        <option value="Over 20">Over 20</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><br>Competed in...</td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="expirience[local]" value="1"> Local events
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="expirience[national]" value="1"> National Championships
                            </td>
                        </tr>
                        <tr>
                            <td class="desc"><input type="checkbox" name="expirience[international]" value="1"> International Competitions
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <br>
                    <div class="desc">Anything you would like to add<br>
                        <textarea rows="4" cols="50" name="other"></textarea>
                        <br><br>

                        <b>Disclaimer:</b> Disclaimer: The details above are as accurate as possible. We understand that
                        the
                        IOF cannot be held responsible for our finding or not finding a suitable volunteer. We also
                        understand that should we choose to recruit a volunteer through this database, the IOF cannot be
                        held responsible for the terms or quality of work produced.
                        <br><br><input type="checkbox" name="iAgreeWithTerms"> I have read and understood the above.
                        <span class="warn">*</span>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="submit" value="Submit our request">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            {% if data %}
            var data = JSON.parse('{{ data | raw }}');

            // reset form values from json object
            $.each(data, function (name, val) {

                var $el = $('[name="' + name + '"]'), type = $el.attr('type');

                switch (type) {
                    case 'checkbox':
                        $el.attr('checked', 'checked');
                        break;
                    case 'radio':
                        $el.filter('[value="' + val + '"]').attr('checked', 'checked');
                        break;
                    default:
                        $el.val(val);
                }
            });
            {% endif %}

            // load countries list
            $.ajax({
                type: "GET",
                url: '{{ url }}countries',
                success: function(data)
                {
                    $('#country').empty().append(data);
                }
            });

        });

    </script>

{% endblock %}
