{% extends 'common.twig' %}

{% block onecolumn %}

    <form method="POST" action="{{ url }}volunteer/search" enctype="multipart/form-data">

        <div align="center">
            <div class="title">Project Search Form</div>
            <br>
            <div class="warn-title">
                Please fill in your search criteria. Leave blank if not relevant / important!
            </div>
        </div>

        <table width="90%" align="center">
            <tbody>
            <tr>
                <td valign="top" width="25%">
                    <table>
                        <tbody>
                        <tr>
                            <td class="desc">Country</td>
                            <td class="desc">: <select type="text" name="country" id="country" size="1" value=""></select></td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td valign="top" width="27%">
                    <table>
                        <tbody>
                        <tr>
                            <td class="desc">
                                <input type="checkbox" name="offer[international_travel_expenses]" value="1">International travel expenses<br>
                                <input type="checkbox" name="offer[domestic_travel_expenses]" value="1">Domestic travel expenses<br>
                                <input type="checkbox" name="offer[accommodation]" value="1">Accommodation <br>
                                <input type="checkbox" name="offer[meals]" value="1">Meals <br>
                                <input type="checkbox" name="offer[pocket_money]" value="1">Pocket money <br>
                                Other (please state): <input type="text" name="offer[other]" size="20"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td valign="top" width="31%">

                    <table>
                        <tr valign="top">
                            <td colspan="2" class="desc"><b>Skills required</b>
                                <div class="warn"> &nbsp;(Please tick all relevant to the project)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">* Mapping <br>
                                <div class="smradio">
                                    <input type="checkbox" name="mappingDesc[Sprint]" value="1"> Sprint<br>
                                    <input type="checkbox" name="mappingDesc[Forest]" value="1"> Forest
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* Coaching<br>
                                    <div class="smradio">
                                        <input type="checkbox" name="coachDesc[nationalTeam]" value="1"> National Team<br>
                                        <input type="checkbox" name="coachDesc[clubs]" value="1"> Clubs
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* IT &amp; time-keeping <br>
                                    <div class="smradio">
                                        <input type="checkbox" name="itDesc[si]" value="1"> SportIdent <br>
                                        <input type="checkbox" name="itDesc[emit]" value="1"> Emit <br>
                                        <input type="checkbox" name="itDesc[gps]" value="1"> GPS Tracking
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>* Event Organising <br>
                                    <div class="smradio">
                                        <input type="checkbox" name="eventDesc[club]" value="1"> Club &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[local]" value="1"> Local &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[national]" value="1"> National &nbsp; &nbsp;<br>
                                        <input type="checkbox" name="eventDesc[highLevel]" value="1"> High-Level
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc"><br>
                                    <input type="checkbox" name="teacherDesc[materials]" value="1"> Development of Educational Material
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="desc">
                                    <input type="checkbox" name="teacherDesc[beginners]" value="1"> Beginners &amp; children
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="4" align="right">
                    <input type="submit" value="Find projects">
                </td>
            </tr>

            </tbody>
        </table>
    </form>

{% endblock %}
