<h2>Hello!</h2>

<p>
    Your password was reset. New password is: {{ pass }}.
    Check it now at <a href="{{ url }}">{{ url }}</a>
</p>

<p>Thank you!</p>
<hr>
<p>Best regards, IOF volunteering platform team</p>