{% extends 'common.twig' %}

{% block sidebar %}

    {% include 'sidebar.twig' %}

{% endblock %}

{% block main %}
    <section class="default">
        <div class="container">
            <div class="titleWrap">
                <h1 class="title pb-0">Password reset form</h1>
            </div>

            <form class="row" method="POST" action="{{ url }}restore" enctype="multipart/form-data">

                <div class="col-12 col-md-6">
                    <div class="formSection">
                        <div class="form-group">
                            <input placeholder=" " type="email" id="email" name="email" required>
                            <label for="email" class="formGroupLabel">E-mail <span class="text-danger">*</span></label>
                        </div>

                        <button type="submit" class="btn btn-primary">Reset my password</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
{% endblock %}
